<% if @users.any? %>
	<div class="pure-g">
		<% @users.each do |user| %>
		  	<div class="photo-box u-1 u-med-1-4 u-lrg-1-6 image-link">
		  		<%= image_tag user.avatar.url(:thumb), class: 'uploaded-avatar' %>
		  		<aside class="photo-box-caption">
		    		<p><%= user.username %></p>
		    	</aside>
		    </div>
		<% end %>
	</div>
<% end %>
